@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Scam Store</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="contentindex">
    <h4> This is the Home page with little content but this page is just the beggining click of "brief" on the menu bar to proceed</h4>
     </div>
