html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/* ============================Title==================================*/
h1{
color: rgb(92, 64, 64);
font-family: 'Comfortaa', cursive;
text-align: center;
}
.title2{
  color: rgb(24, 16, 16);
font-family: 'Comfortaa', cursive;
font-size: 2em;
font-weight: 800;
text-align: center;
}
/* ==========================Header==================================*/
h2{
  font-family: 'Comfortaa', cursive;
  color: rgb(190, 107, 107);
  font-size: 1.5em;
}
h3{
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(70, 21, 21);
  font-size: 1em;
}
/* ==========================Body===================================*/
body{
  font-family: 'Roboto Mono', monospace;
  font-weight: 800;
}

li{
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(70, 21, 21);
  font-size: 1em;
}


/*brand colours brown black and red*/
/* ==========================Footer====================================*/
footer{font-family: 'Roboto Condensed', sans-serif;
  color: rgb(70, 21, 21);
  font-size: 1em;
    }
  
/*====================Index=================*/
.display-4{
  font-family: 'Comfortaa', cursive;
  font-weight: 1000;

}

.text-center{
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(70, 21, 21);
}
h4{
  text-align: center;
}